<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>首页-硬动力官网|硬动力官网</title>
    <meta name="keywords" content="硬动力官网是变频行业权威官网"/>
    <meta name="description" content="硬动力官网是变频行业权威官网"/>
    <link rel="stylesheet" type="text/css" href="static/css/fontInco/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/about.css"/>
    <script src="static/js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/global.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/public/upload/logo/2019/05-22/b23e888e0210bffc194d4f8b4ad42e20.png" media="screen"/>
</head>
<body>
<!--header-s-->
<div class="top-box minwidth">
    <div class="wrap">
        <div class="welcome">欢迎来到硬动力官网！查看分站<i class="fa fa-angle-down"></i></div>
        <div class="tel"><i class="fa fa-volume-control-phone"></i><span>0755-88889999</span></div>
    </div>
</div>
<div class="header-box minwidth">
    <div class="wrap">
        <div class="logo">
            <a href="/index.php/Home/index/index.html">
                <img src="imgs/logo/logo.png"/>
            </a>
        </div>
        <div class="slogn">中国变频器领先品牌<br>www.fositebianping.com</div>
        <div class="search-box">
            <div class="search-input">
                <form id="searchForm" name="" method="get" action="/index.php/Home/Goods/search.html" class="ecsc-search-form">
                <input value="" autocomplete="off" name="q" id="q" type="text" placeholder="输入关键字">
                <button type="submit">搜索</button>
                </form>
            </div>
            <div class="keyword" id="search_list">
                    <a href="/index.php/Home/Goods/search/q/%E5%8F%98%E9%A2%91%E5%99%A8.html" target="_blank">变频器</a>
                    <a href="/index.php/Home/Goods/search/q/%E5%8F%98%E9%A2%91%E6%9F%9C.html" target="_blank">变频柜</a>
                    <a href="/index.php/Home/Goods/search/q/%E6%B0%B4%E6%B3%B5%E5%8F%98%E9%A2%91%E6%9F%9C.html" target="_blank">水泵变频柜</a>
                    <a href="/index.php/Home/Goods/search/q/%E5%8C%85%E8%A3%85%E5%8F%98%E9%A2%91%E6%9F%9C.html" target="_blank">包装变频柜</a>
                    <a href="/index.php/Home/Goods/search/q/%E6%9C%BA%E5%BA%8A%E5%8F%98%E9%A2%91%E6%9F%9C.html" target="_blank">机床变频柜</a>
            </div>
        </div>
    </div>
</div>
<div class="nav-box minwidth">
    <div class="wrap">
        <span class="on"><a href="/index.php/home/Index/index.html">首页</a></span>
        <span >
            <a href="#" target="_blank"  >变频器</a>
        </span>
        <span >
            <a href="#" target="_blank"  >变频柜</a>
        </span>
        <span >
            <a href="#" target="_blank"  >产品中心</a>
        </span>
        <span >
            <a href="#" target="_blank"  >定制/维修/加盟</a>
        </span>
        <span >
            <a href="#" target="_blank"  >新闻百科</a>
        </span>
        <span >
            <a href="#" target="_blank"  >客户案例</a>
        </span>
        <span >
            <a href="#" target="_blank"  >在线购买 </a>
        </span>
        <span >
            <a href="#" target="_blank"  >关于我们</a>
        </span>
    </div>
</div>
<!--header-e-->
<div class="ad-img"><img src="imgs/ad/ad4.jpg" alt="" style="width:100%"></div>
<!-- 产品型号表格 -->
<div class="wrap product-tab">
    <div class="tab">
        <table>
            <tr>
                <td>应用范围</td>
                <td><span>数控机床应用</span><span>数控机床应用</span><span>数控机床应用</span><span>数控机床应用</span><span>数控机床应用</span><span>数控机床应用</span><span>数控机床应用</span><span>数控机床应用</span></td>
                <td><a href="">更多 <i class="fa fa-angle-down"></i></a></td>
            </tr>
            <tr>
                <td>应用范围</td>
                <td><span>数控机床应用</span><span>数控机床应用</span><span>数控机床应用</span><span>数控机床应用</span></td>
                <td><a href="">更多 <i class="fa fa-angle-down"></i></a></td>
            </tr>
            <tr>
                <td>应用范围</td>
                <td><span>数控机床应用</span><span>数控机床应用</span><span>数控机床应用</span><span>数控机床应用</span></td>
                <td><a href="">更多 <i class="fa fa-angle-down"></i></a></td>
            </tr>
            <tr>
                <td>应用范围</td>
                <td><span>数控机床应用</span><span>数控机床应用</span><span>数控机床应用</span><span>数控机床应用</span></td>
                <td><a href="">更多 <i class="fa fa-angle-down"></i></a></td>
            </tr>

        </table>
    </div>
</div>
<!-- 产品服务中心 -->
<div class="wrap minwidth"  >
    <div class="product clearfix">
        <!-- 左边菜单  -->
        <div class="left menu fl">

            <div class="product-box">
                <div class="title">产品导航</div>
                <ul>
                    <li><i class="fa fa-caret-down"></i> 变频器</li>
                    <dt>
                        <dl><i class="fa fa-caret-right"></i>应用领域一</dl>
                        <dl><i class="fa fa-caret-right"></i>应用领域一</dl>
                        <dl><i class="fa fa-caret-right"></i>应用领域一</dl>
                        <dl><i class="fa fa-caret-right"></i>应用领域一</dl>
                        <dl><i class="fa fa-caret-right"></i>应用领域一</dl>
                        <dl><i class="fa fa-caret-right"></i>应用领域一</dl>
                        <dl><i class="fa fa-caret-right"></i>应用领域一</dl>
                        <dl><i class="fa fa-caret-right"></i>应用领域一</dl>
                    </dt>
                    <li><i class="fa fa-caret-right"></i> 变频器</li>
                    <li><i class="fa fa-caret-right"></i> 变频器</li>
                    <li><i class="fa fa-caret-right"></i> 变频器</li>
                </ul>
                <div class="more"><a href="">查看更多 > ></a> </div>
            </div>

        </div>
        <!-- 右边内容 -->
        <div class="service fr content-box ">
            <div class="nav"><i class="fa fa-home" style="margin-right: 5px"></i><a href="">硬动力</a> -> <a href="">产品服务中心</a>  </div>
            <div class="product-list">
                <div class="introduce">
                    <img src="imgs/product/intro.png" alt="" class="fl">
                    <p class="fl">
                        <h3>变频器原理</h3>
                        <p class="content">不定期测量变频器及电机的运行数据。包括变频器输出频率，输出电流，输出电压，变频器内部直流电压，散热器温度等数据信息。与合理数据对照比较，以利于早日发现故障隐患。变频器要是发生故障跳闸，请务必记录故障代码和跳闸时变频器的运行工况，以便具体分析故障原因。我们建议两周进行一次，检查记录运行中的变频器输出三相电压，并注意比较它们之间的平衡度；检查记录变频器的三相输出电流，并注意比较它们之间的平衡度；检查激励环境温度</p>
                    </p>
                </div>
                <div class="list" style="background: #fff;">
                    <ul>
                        <li class="clearfix">
                            <img class="fl" src="imgs/product/p2.png" alt="">
                            <div class="fl">
                                <h3>产品名称，矢量通用变频器FST-500-OR4T2（220V，0.45KW）</h3>
                                <div class="attr-info rel">
                                    <table >
                                        <tr >
                                            <td >额定输入电压：220V  ：
                                            </td>
                                            <td >参考价格（含增值税）</td>
                                        </tr>
                                        <tr >
                                            <td >额定输入电压：220V  ：
                                            </td>
                                            <td >参考价格（含增值税）</td>
                                        </tr>
                                        <tr >
                                            <td >额定输入电压：220V  ：
                                            </td>
                                            <td >参考价格（含增值税）</td>
                                        </tr>
                                    </table>
                                    <a href="" class="btn abslt">查看详情</a>
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img class="fl" src="imgs/product/p2.png" alt="">
                            <div class="fl">
                                <h3>产品名称，矢量通用变频器FST-500-OR4T2（220V，0.45KW）</h3>
                                <div class="attr-info rel">
                                    <table >
                                        <tr >
                                            <td >额定输入电压：220V  ：
                                            </td>
                                            <td >参考价格（含增值税）</td>
                                        </tr>
                                        <tr >
                                            <td >额定输入电压：220V  ：
                                            </td>
                                            <td >参考价格（含增值税）</td>
                                        </tr>
                                        <tr >
                                            <td >额定输入电压：220V  ：
                                            </td>
                                            <td >参考价格（含增值税）</td>
                                        </tr>
                                    </table>
                                    <a href="" class="btn abslt">查看详情</a>
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img class="fl" src="imgs/product/p2.png" alt="">
                            <div class="fl">
                                <h3>产品名称，矢量通用变频器FST-500-OR4T2（220V，0.45KW）</h3>
                                <div class="attr-info rel">
                                    <table >
                                        <tr >
                                            <td >额定输入电压：220V  ：
                                            </td>
                                            <td >参考价格（含增值税）</td>
                                        </tr>
                                        <tr >
                                            <td >额定输入电压：220V  ：
                                            </td>
                                            <td >参考价格（含增值税）</td>
                                        </tr>
                                        <tr >
                                            <td >额定输入电压：220V  ：
                                            </td>
                                            <td >参考价格（含增值税）</td>
                                        </tr>
                                    </table>
                                    <a href="" class="btn abslt">查看详情</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- 分页器 -->
                    <div class="page rel">
                        <div class="abslt pos">
                            <a href=""><</a>
                            <a href="" class="active">1</a>
                            <a href="">2</a>
                            <a href="">3</a>
                            <a href="">4</a>
                            <a href="">5</a>
                            <a href="">></a>
                        </div>
                    </div>
                </div>
                
            
        </div>
        
    </div>
</div>
<!-- 底部 footer -->
<div class="foot">
    <div class="top wrap">
        <div class="nav">
            <a href="">首页</a>
            <a href="">变频器</a>
            <a href="">变频柜</a>
            <a href="">产品服务中心</a>
            <a href="">公司案例</a>
            <a href="">购买收购指南</a>
            <a href="">关于我们</a>
            <a href="">网站指南</a>
        </div>
    </div>
    <div class="mid wrap clearfix">
        <div class="left">
            <div class="logo">
                <img src="imgs/logo/logo1.png" alt="">
            </div>
            <div class="qrcode">
                <img src="imgs/logo/qrcode.png" alt="">
                <img src="imgs/logo/qrcode.png" alt="">
            </div>
        </div>
        <div class="middle">
            <p>深圳市泰克天锐科技有限公司</p>
            <p>公司地址：广东省深圳市龙岗区佛山街道128号C栋3楼</p>
            <p>联系电话：0755-88889999</p>
            <p>联系人：彭先生</p>
        </div>
        <div class="right">
            <p>分公司：</p>
            <p>
                <a href="">沈阳分部</a>
                <a href="">佛山分部</a>
                <a href="">宁波分部 </a>
                <a href="">苏州分部</a>
                <a href="">东莞分部</a>
                <a href="">越南分部</a>
            </p>
            
        </div>
    </div>
    <div class="bottom wrap">
        Copyright © 2017 深圳市泰克天锐科技有限公司. All Rights Reserved      浙ICP备20170101号.
    </div>
</div>
</body>